const pages = require('./pages.js')

module.exports = {
  "nick": "presidentes_bot",
  "accounts": [
    {
      "consumer_key": "",
      "consumer_secret": "",
      "access_token": "",
      "access_token_secret": "",
      "template": "Artigo '{{{page}}}' da Wikipedia foi editado {{&url}}",
      "throttle": false,
      "namespaces": ["article", "file", "media", "main"]
    }
  ],
  "wiki_lang": "pt",
  "pages": pages
}