{
  "nick": "seu_nick",
  "accounts": [
    {
      "consumer_key": "",
      "consumer_secret": "",
      "access_token": "",
      "access_token_secret": "",
      "template": "Artigo '{{{page}}}' da Wikipedia foi editado {{&url}}",
      "throttle": false,
      "namespaces": ["article", "file", "media", "main"]
    }
  ],
  "verbose": false,
  "pages": "pages.json"
}


